<app-search (searchEvent)="getBooks($event)"></app-search>
<div class="example-table-container">
  <mat-progress-bar *ngIf="length===0 && init!==true" mode="indeterminate"></mat-progress-bar>
  <table *ngIf="length!==0" mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let book">{{book.id}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let book">{{book.title}}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let book">{{book.author}}</td>
    </ng-container>

    <ng-container matColumnDef="latest_publish_year">
      <th mat-header-cell *matHeaderCellDef>Latest Publish Year</th>
      <td mat-cell *matCellDef="let book">{{book.latest_publish_year}}</td>
    </ng-container>

    <ng-container matColumnDef="first_publish_year">
      <th mat-header-cell *matHeaderCellDef>First Publish Year</th>
      <td mat-cell *matCellDef="let book">{{book.first_publish_year}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <app-paginator [length]="length" (pageChangeEvent)="changePage($event)"></app-paginator>
